.resume2{
    float: right;
    width: 70%;
}

.or-buttons{
    margin-left: 2%;
    margin-right: 2%;
}

.resume1{
    float: left;
    width: 25%;
}

.resume-page1{
    overflow: auto;
    padding: 1%;
    height: 100vh;
}

.resume-page{
    overflow: auto;
    height: 100vh;
}

@media screen and (max-width: 600px) 
{
    .column 
    {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
}

.resume3
{
    float: right;
    width: 70%;
}

.res-btn{
    float: initial;
    width: 15%;
    padding: 1%;
}

.input1{
    width: 100%;
    padding: 1%;
}

.input12{
    width: 100%;
    border-left: none;
    border-right: none;
    border-top: none;
}

.input13{
    float: left;
    padding: 3%;
    border: none;
}

.titles-headers{
    float: left;
}

.input1-noi{
    width: 100%;
    padding: 2%;
    float: left;
}

.input1-loi{
    width: 100%;
    float: right;
    padding: 2%;
}

.input1-qua{
    width: 100%;
    padding: 2%;
    float: left;
}

.input1-cgpa{
    width: 100%;
    padding: 2%;
}

.input1-yop{
    width: 100%;
    float: right;
    padding: 2%;
}

.coun-drop{
    background-color: #F8F9FA;
    padding: 2%;
}

.reg-drop{
    background-color: #F8F9FA;
    padding: 2%;
}

.add-more{
    float: left;
}

.input-type-date-duration{
    padding: 2%;
    float: right;
}

.input-type-date-duration1{
    padding: 2%;
    float: right;
}

.coun-drop1{
    padding: 2%;
}

.reg-drop1{
    padding: 2%;
}
