.fp-logo{
    height: 70px;
}

.fp-form{
    /* background-color: khaki; */
    height: 100vh;
    width: 50%;
    padding: 10%;
    float: right;
    height: 100vh;
    overflow: auto;
}

.fp{
    width: 75%;
    padding: 2%;
    border: 1px solid black;
    border-radius: 15px;
}