.stuffjb{
    margin: 1%;
    padding: 2%;
    
}

.itemjb{
    padding: 10px;
    margin: 15px;

}

.aji{
    padding: 2%;
    width: 100%;
}

.col-spacedjb {
    margin-left: 45px;
}

.row-spaced-jb {
    margin-top: 10px;
}

.col-spaced12 {
    margin-left: 45px;
}
